#top-banner img {
    height: 480px;
    object-fit: cover;
}

#teacher .card img {
    height: 250px;
    object-fit: cover;
}

.login-form {
    /* border: 1px solid red; */
    width: 520px;
    margin: 0 auto;
}

.backbtn {
    border: 1px solid #898989;
    width: max-content;
    padding: 8px 15px;
    border-radius: 6px;
}
.backbtn a {
    text-decoration: none;
    color: #454444;
    
}
.pwd-field {
    position: relative;
}
.pwd-field .pwdbtn {
    position: absolute;
    top: 6px;
    right: 10px;
    cursor: pointer;
}

.login-body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .login-form {
        /* border: 1px solid red; */
        width: 90%;
       
    }
  }